@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: block;
  font-family: Bus;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Bus-Regular.woff) format("woff");
}

@font-face {
  font-display: block;
  font-family: Bus;
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/Bus-SemiBold.woff) format("woff");
}

@font-face {
  font-display: block;
  font-family: Bus;
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Bus-Bold.woff) format("woff");
}

@font-face {
  font-display: block;
  font-family: Bus;
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/Bus-ExtraBold.woff) format("woff");
}

@layer base {
  html * {
    max-height: 1000000px;
  }

  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }
}

body {
  @apply font-body antialiased max-w-xl m-auto text-gray-900 bg-white dark:bg-gray-800 dark:text-white transition-colors;
}

.titleBarButton {
  @apply place-items-center grid w-9 h-9 transition-colors ease-linear duration-150 rounded-full hover:bg-gray-400 hover:bg-opacity-10 focus:outline-none focus-visible:ring;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.mapboxgl-control-container {
  @apply hidden;
}

.mapboxgl-canvas {
  @apply focus:outline-none;
}
