@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Bus;
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/Bus-Regular.woff) format("woff");
}

@font-face {
  font-family: Bus;
  font-weight: 600;
  font-style: normal;
  src: url(/fonts/Bus-SemiBold.woff) format("woff");
}

@font-face {
  font-family: Bus;
  font-weight: 700;
  font-style: normal;
  src: url(/fonts/Bus-Bold.woff) format("woff");
}

@font-face {
  font-family: Bus;
  font-weight: 800;
  font-style: normal;
  src: url(/fonts/Bus-ExtraBold.woff) format("woff");
}

body {
  @apply font-body antialiased px-5 py-4 max-w-lg m-auto text-gray-900 dark:bg-gray-800 dark:text-white;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.titleBarButton {
  @apply place-items-center grid w-9 h-9 transition-colors ease-linear duration-150 rounded-full hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-1 focus:ring-gray-500;
}
