@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Bus;
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/Bus-Regular.woff) format("woff");
}

@font-face {
  font-family: Bus;
  font-weight: 600;
  font-style: normal;
  src: url(/fonts/Bus-SemiBold.woff) format("woff");
}

@font-face {
  font-family: Bus;
  font-weight: 700;
  font-style: normal;
  src: url(/fonts/Bus-Bold.woff) format("woff");
}

@font-face {
  font-family: Bus;
  font-weight: 800;
  font-style: normal;
  src: url(/fonts/Bus-ExtraBold.woff) format("woff");
}

body {
  @apply font-body antialiased px-4 py-4 max-w-lg m-auto text-gray-900 dark:bg-gray-800 dark:text-white;
}
